.BannerCard {
    margin-top: 10px;
    height: 200px;
}

.BannerCard-Title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin: 30px;
    color: white
}

.ShopPanel-Items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 12px;
}

.ShopPanel-Items > * {
    width: 100%;
    border-radius: var(--vkui--size_border_radius--regular);
}

.ShopPanel-Item {
    width: 106px;
    height: 155px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
}

.ShopPanel-Item-Icon {
    background: transparent;
    width: 94px;
    height: 94px;
    margin-left: auto;
    margin-right: auto;
}

.ShopPanel-Item-Icon-Image {
    padding: 7px;
    width: 80px;
    height: 80px;
}

.ShopPanel-Item-Title {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 6px;
    overflow: hidden;
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
}

.ShopPanel-Item-Subtitle {
    margin-left: 6px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ShopPanel-Item-Subtitle-Icon {
    color: #F2C94C;
    width: 12px;
    height: 12px;
}

.ShopPanel-Item-Subtitle-Text {
    color: #818C99;
    font-weight: 400;
    font-size: 13px;
    margin-left: 8px;
    line-height: 16px;
}