.PanelHeader__content-in {
    text-align: center;
}

.vkui--vkBase--dark, .vkui--vkBase--light, .vkui--vkCom--dark, .vkui--vkCom--light, .vkui--vkIOS--dark, .vkui--vkIOS--light, :root {
    --vkui--size_border_radius_paper--regular: 20px;
    --vkui--size_card_border_radius--regular: 20px;
    --vkui--size_border_radius--regular: 20px;
}